# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/
ENV/

# PyCharm / IDE
.idea/
.vscode/
*.iml

# Flask
instance/
.webassets-cache

# OS
.DS_Store
Thumbs.db

# Logs
*.log
